.popup__subtitle {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  padding-top: 30px;
  color: white;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .popup__subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .popup__subtitle {
    font-size: 12px;
  }
}