.description__illustration {
  max-width: 414px;
}

@media screen and (max-width: 1050px) {
  .description__illustration {
    max-width: 350px;
  }
}

@media screen and (max-width: 810px) {
  .description__illustration {
    max-width: 300px;
  }
}

@media screen and (max-width: 810px) {
  .description__illustration {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 450px) {
  .description__illustration {
    max-width: 200px;
  }
}