.footer__button-social_whatsapp {
  display: block;
  background-image: url("../../../../images/whatsapp-black.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  width: 25px;
  height: 25px;
  margin: 0;
  text-decoration: none;
}

.footer__button-social_whatsapp:hover {
  background-image: url("../../../../images/whatsApp-color.svg");
  background-size: 25px;
}